<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Summarization</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css"/>

</head>
<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
              <h1 class="display-4">Text Summarization</h1>
              <p class="lead">
                Retrieve the best summary for the text
              </p>
            </div>
        </div>
    </div>
    
    <div class="container" style="display: flex; justify-content: space-around">
        <p class="original_title col-sm-4">Original Text</p>
        <p class="summary_title col-sm-4">Summary</p>
    </div>

    <div class="container srt">
      <p class="originalTxt col-sm-6">{{original_txt}}</p>
      <div class="container col-sm-6">
        <p class="summarytxt">{{summary}}</p>
        <button class="btn btn-success" type="submit" style="margin-left: 10px;">
          Words : {{len_summary}}
        </button>
      </div>
    </div>

    <div class="container"> 
        <button class="btn" type="submit">
          Words : {{len_orig_txt}}
        </button>
    </div>
    
</body>
</html>
